.bucket {
  display: inline-block;
  vertical-align: top;
  width: 15em;
  border-radius: 0.5em;
  background-color: #AAA;
  padding: 0.5em;
  margin: 0.5em;
}
.bucket header {
  width: 100%;
}
.bucket header .name {
  padding: 0;
  margin: 0;
  float: left;
}
.bucket .bucket-items {
  clear: both;
  background-color: #CCC;
  padding-bottom: 2em;
}
#help {
  display: none;
}
#help-button {
  cursor: pointer;
}
#setup legend {
  cursor: pointer;
}
#setup .toggle {
  display: none;
}
.item {
  display: inline-block;
  border-radius: 0.5em;
  width: 12.75em;
  background-color: #0C0;
  padding: 0.1em 0.5em;
  margin: 0.25em;
  cursor: move;
}
.item .count {
  margin-left: 0.5em;
}
.controls {
  float: right;
}
.delete-button {
  margin-left: 0.5em;
  font-size: 1.2em;
  color: red;
  cursor: pointer;
}
footer {
  text-align: center;
  padding: 1em;
}
